/* Estilo general de la aplicación */
.App {
  text-align: center;
  font-family: 'Arial', sans-serif;
  background-color: #fefaf6;
  color: #4a4a4a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Estilo del encabezado */
.App-header {
  background-color: #ffefd5;
  padding: 20px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

/* Título principal */
h1 {
  font-size: 3em;
  margin: 0;
  color: #ff8c94;
}

/* Estilo de la tabla */
table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

th, td {
  padding: 15px;
  border: 1px solid #ddd;
}

th {
  background-color: #ffb6b9;
  color: white;
}

td {
  background-color: #fffbf2;
}

tr:nth-child(even) td {
  background-color: #fff5e6;
}

/* Estilo de los botones */
button {
  background-color: #ff8c94;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-right:auto;
  margin-left:auto;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


button:hover {
  background-color: #ff6361;
}

input {
  padding: 10px;
  margin: 5px;
  border: 1px solid #ff8c94;
  border-radius: 5px;
}

/* Estilo de los mensajes de error */
.error {
  color: #ff4c4c;
  margin: 10px 0;
}

/* Estilo para entradas y botones en el formulario */
form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items:normal;
  padding: 7px;
}

form input, form button {
  margin: 10px 10;
}

/* Estilo de los enlaces */
a {
  color: #ff8c94;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #ff6361;
}
